  #components{
    min-height: 600px;
    margin-top: 5px;
  }
  #target{
    min-height: 200px;
    /* border: 1px solid #ccc; */
    /* padding: 5px; */
  }
  #target .component{
    border: 1px solid #fff;
  }
  #target .component:hover{
	background: #f4f4f4; 
	cursor: pointer !important;
  }
  .control-label:hover{
	cursor: pointer;
  }
  .valtype{
	pointer-events: none;
  }
  .valtype:hover{
	cursor: pointer;
  }
  .form-border{
    border: 1px solid #ccc;
    padding: 5px;
  }
  .empty-field{
	text-align: center;
	height: 64px;
	border: 1px dashed #ddd;
	padding: 15px 0 5px;
	overflow: hidden;
	width: 100%;
	height: 48px;
	margin: 0;
  }
  #temp{
    background: white;
    border: 1px dotted #ccc;
    border-radius: 10px;
  }
  .test1{
	width: 8%;
  }
  .test2{
	  width: 500px;
	  background: #f4f4f4 !important;
	  cursor: pointer;
  }

  .popover {
    /* top: 71px !important; */
    left: 10px !important;
}
  .popover-content form {
    margin: 0 auto;
    width: 213px;
  }
  .popover-content form .btn{
    margin-right: 10px
  }
  #source{
    min-height: 500px;
  }
  legend{
    padding-bottom: 8px !important;
  }
  .add-field{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .add-field .add-field-bg{
    background-color: #eaf8f8;
    padding: 0 8px 0 8px;
    margin: 0 8px 0 8px;
  }
  .add-field .border-add-field{
    padding: 8px 0 10.5px 0 !important;
    padding-bottom: 18px;
    border-bottom: 4px solid #cdedec;
  }
  .add-field .input-field{
	box-sizing: border-box;
	padding: 2px 3px;
  }
  .add-field .input-type{
	background-color: white;
	border-radius: 4px;
	padding: 5px 1px 5px 1px;
	margin: 0;
	width: 100%;
	border: 1px solid #ceeae9;
	line-height: 1.2;
  }
  .add-field .input-type:hover{
	background: #f4f4f4;
	cursor: pointer; 
  }
  .popover form .btn {
    margin-right: 10px !important;
}

.legend-border-title{
  border-bottom: 1px solid #ccc;
}

.pagination>li {
  display: inline;
  padding:0px !important;
  margin:0px !important;
  border:none !important;
  }
  .modal-backdrop {
    z-index: -1 !important;
  }
  
  
  .btn {
  display: inline-block;
  padding: 6px 12px !important;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  }
  
  .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
  }
  .btn-primary {
  color: #fff !important;
  background: #428bca !important;
  border-color: #357ebd !important;
  box-shadow:none !important;
  }
  .btn-danger {
  color: #fff !important;
  background: #d9534f !important;
  border-color: #d9534f !important;
  box-shadow:none !important;
  }

  .trash:hover{
	background: #d9534f !important;
	border-color: #d9534f !important;

  }
  .trash{
	padding: 8px;
	cursor: pointer;

  }

  .float-action-form{
	position: fixed;
	background-color: #000;
    /* height: 55px; */
    width: 100%;
	bottom: 0px;
	padding: 8px;
    /* right: 19px; */
  }

  .float {
    position: fixed;
    height: 55px;
    width: 55px;
    bottom: 103px;
    right: 19px;
}

  .btn-add {
    border-radius: 10rem;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

/*--Modal---*/

.close {
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1;
	float: right;
	opacity: .5;
	color: rgba(0, 0, 0, .6);
	text-shadow: none;
}
.close:not(:disabled):not(.disabled) {
	cursor: pointer;
}
.close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {
	text-decoration: none;
	opacity: .75;
	color: rgba(0, 0, 0, .6);
}
button.close {
	padding: 0;
	border: 0;
	background-color: transparent;
	-webkit-appearance: none;
}
.modal {
	position: fixed;
	z-index: 1060;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	overflow: hidden;
	outline: 0;
}
.modal-dialog {
	position: relative;
	width: auto;
	margin: .5rem;
	pointer-events: none;
}
.modal.fade .modal-dialog {
	transition: transform .3s ease-out;
	transform: translate(0, -25%);
}
@media screen and (prefers-reduced-motion: reduce) {
	.modal.fade .modal-dialog {
		transition: none;
	}
}
.modal.show .modal-dialog {
	transform: translate(0, 0);
}
.modal-dialog-centered {
	display: flex;
	min-height: calc(100% - (.5rem * 2));
	align-items: center;
}
.modal-dialog-centered::before {
	display: block;
	height: calc(100vh - (.5rem * 2));
	content: '';
}
.modal-content {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	border: 0 solid rgba(0, 0, 0, .2);
	border-radius: .4375rem;
	outline: 0;
	background-color: #fff;
	background-clip: padding-box;
	box-shadow: 0 15px 35px rgba(50, 50, 93, .2), 0 5px 15px rgba(0, 0, 0, .17);
}
.modal-backdrop {
	position: fixed;
	z-index: 1059 !important;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #000;
}
.modal-backdrop.fade {
	opacity: 0;
}
.modal-backdrop.show {
	opacity: .16;
}
.modal-header {
	display: flex;
	padding: 1.25rem;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	border-top-left-radius: .4375rem;
	border-top-right-radius: .4375rem;
	align-items: flex-start;
	justify-content: space-between;
}
.modal-header-blue {
	display: flex;
	padding: 1.25rem;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	border-top-left-radius: .4375rem;
	border-top-right-radius: .4375rem;
	align-items: flex-start;
	justify-content: space-between;
	background: linear-gradient(87deg, #59b9ff 0, #214fd4 100%);
}
.modal-header .close {
	margin: -1.25rem -1.25rem -1.25rem auto;
	padding: 1.25rem;
}
.modal-title {
	line-height: 1.1;
	margin-bottom: 0;
}
.modal-title-white {
	line-height: 1.1;
	margin-bottom: 0;
	color: #fff;
}
.modal-body {
	position: relative;
	padding: 1.5rem;
	flex: 1 1 auto;
}
.modal-footer {
	display: flex;
	padding: 1.5rem;
	border-top: 1px solid rgba(0,0,0,0.1);
	align-items: center;
	justify-content: flex-end;
	margin-top: 4rem;
}
.modal-footer> :not(:first-child) {
	margin-left: .25rem;
}
.modal-footer> :not(:last-child) {
	margin-right: .25rem;
}
.modal-scrollbar-measure {
	position: absolute;
	top: -9999px;
	overflow: scroll;
	width: 50px;
	height: 50px;
}
@media (min-width: 576px) {
	.modal-dialog {
		max-width: 500px;
		margin: 1.75rem auto;
	}
	.modal-dialog-centered {
		min-height: calc(100% - (1.75rem * 2));
	}
	.modal-dialog-centered::before {
		height: calc(100vh - (1.75rem * 2));
	}
	.modal-content {
		box-shadow: 0 15px 35px rgba(50, 50, 93, .2), 0 5px 15px rgba(0, 0, 0, .17);
	}
	.modal-sm {
		max-width: 380px;
	}
}
@media (min-width: 992px) {
	.modal-lg {
		max-width: 800px;
	}
}

/*--Tooltip---*/

.tooltip {
	font-family: Open Sans, sans-serif;
	font-size: .875rem;
	font-weight: 400;
	font-style: normal;
	line-height: 1.5;
	position: absolute;
	z-index: 1070;
	display: block;
	margin: 0;
	text-align: left;
	text-align: start;
	white-space: normal;
	text-decoration: none;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	word-wrap: break-word;
	word-break: normal;
	opacity: 0;
	text-shadow: none;
	line-break: auto;
}
.tooltip.show {
	opacity: .9;
}
.tooltip .arrow {
	position: absolute;
	display: block;
	width: .8rem;
	height: .4rem;
}
.tooltip .arrow::before {
	position: absolute;
	content: '';
	border-style: solid;
	border-color: transparent;
}
.bs-tooltip-top, .bs-tooltip-auto[x-placement^='top'] {
	padding: .4rem 0;
}
.bs-tooltip-top .arrow, .bs-tooltip-auto[x-placement^='top'] .arrow {
	bottom: 0;
}
.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^='top'] .arrow::before {
	top: 0;
	border-width: .4rem .4rem 0;
	border-top-color: #000;
}
.bs-tooltip-right, .bs-tooltip-auto[x-placement^='right'] {
	padding: 0 .4rem;
}
.bs-tooltip-right .arrow, .bs-tooltip-auto[x-placement^='right'] .arrow {
	left: 0;
	width: .4rem;
	height: .8rem;
}
.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^='right'] .arrow::before {
	right: 0;
	border-width: .4rem .4rem .4rem 0;
	border-right-color: #000;
}
.bs-tooltip-bottom, .bs-tooltip-auto[x-placement^='bottom'] {
	padding: .4rem 0;
}
.bs-tooltip-bottom .arrow, .bs-tooltip-auto[x-placement^='bottom'] .arrow {
	top: 0;
}
.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^='bottom'] .arrow::before {
	bottom: 0;
	border-width: 0 .4rem .4rem;
	border-bottom-color: #000;
}
.bs-tooltip-left, .bs-tooltip-auto[x-placement^='left'] {
	padding: 0 .4rem;
}
.bs-tooltip-left .arrow, .bs-tooltip-auto[x-placement^='left'] .arrow {
	right: 0;
	width: .4rem;
	height: .8rem;
}
.bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^='left'] .arrow::before {
	left: 0;
	border-width: .4rem 0 .4rem .4rem;
	border-left-color: #000;
}
.tooltip-inner {
	max-width: 200px;
	padding: .25rem .5rem;
	text-align: center;
	color: #fff;
	border-radius: .375rem;
	background-color: #000;
}

.item-right{
	text-align: end;
}

.controls{
	position: relative;
	z-index: 1;
	background:
	white;
	width: calc(100% + 8px);
	margin-top: -4px;
	margin-left: -4px;
	padding: 4px;
	transform: translateY(0);
	font-size: .9rem;
	transition: all .4s;
}

